%h3= @oven.name

.cookie-info
  Cookie in oven:
-if @oven.cookies_by_fillings.present?
  - @oven.cookies_by_fillings.each_pair do |fillings, cookies|
    #{pluralize(cookies.count, "Cookie")} with #{fillings || "no fillings"}
  - if @oven.cookies_ready?
    (Your Cookie is Ready)
    = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
- else
  None

%br

= link_to "Prepare Cookies", new_oven_cookies_path(@oven), class: 'button'
